@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="jumbotron">
        @{ Html.RenderPartial("PView");}
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2> Second Method</h2>
            @Html.Partial("PView")
        </div>
        <div class="col-md-4">
            <h2> Third Method</h2>
            @Html.Action("PAction")
        </div>
        <div class="col-md-4">
            <h2> Third Method</h2>
            @{Html.RenderAction("PAction");
            }
            }
        </div>
    </div>
</main>